@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=DM+Sans:wght@400;500;700&family=Inter:wght@300;400;500&family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;500;600;700&family=Philosopher&family=Playfair+Display:wght@500;600;800&family=Prata&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

#white-text {
  color: #f8f8f8;
}

a {
  text-decoration: none;
  color: #111826;
}

body {
  font-family: "Chillax", sans-serif;
  color: #111826;
}

.btn {
  display: inline-block;
  background-color: #FFC100;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 10px 25px;
  border-radius: 20px;
  transition: transform 0.1s;
}
.btn:hover {
  transform: scale(0.96);
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  text-align: center;
  height: 60px;
}
header .logo {
  font-size: 1rem;
  padding-top: 5px;
}
header .nav-container {
  position: absolute;
  background-color: #fff;
  width: 100%;
  z-index: 100;
  transform: scale(1, 0);
  transition: transform 0.3s ease 0s;
  transform-origin: top;
}
header .nav-menu {
  padding: 20px 0;
  list-style-type: none;
}
header .nav__items {
  opacity: 0;
  transition: opacity 0.2s ease 0s;
}
header .nav__links {
  display: block;
  font-weight: 500;
  padding: 13px 0;
  transition: all, 0.1s ease 0s;
}
header .nav__links:hover {
  background-color: #f0f0f0;
}
header .nav--button {
  margin-top: 20px;
  padding-bottom: 20px;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ .nav-container {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ .nav-container .nav__items {
  opacity: 1;
  transition: all 0.2s ease 0.5s;
}

.nav-toggle:checked ~ .hamburger .strokes {
  background-color: transparent;
  transition: all, 0s ease 0s;
}

.nav-toggle:checked ~ .hamburger .strokes::before {
  transform: rotate(-50deg);
  width: 60%;
}

.nav-toggle:checked ~ .hamburger .strokes::after {
  transform: rotate(50deg);
  margin-bottom: -16px;
  width: 60%;
}

.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1.3em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburger__icon {
  width: 40px;
  position: relative;
  margin-top: -8px;
}
.hamburger__icon .strokes,
.hamburger__icon .strokes::before,
.hamburger__icon .strokes::after {
  position: absolute;
  content: "";
  left: 0;
  width: 80%;
  height: 2.4px;
  background-color: black;
  border-radius: 20px;
  transition: all, 0.3s ease 0s;
}
.hamburger__icon .strokes {
  transition: all, 0.2s ease 0.2s;
}
.hamburger__icon .strokes::before {
  top: 8px;
}
.hamburger__icon .strokes::after {
  bottom: 8px;
  width: 100%;
}

.showcase {
  background: linear-gradient(#FFC100, #F7971E);
  padding: 100px 2em 0 2em;
}

.content-area > * {
  padding: 10px 0;
}

.content-area__text {
  font-weight: 500;
  line-height: 1.5;
}

.call-to-action {
  display: flex;
  align-items: center;
}

.btn__quotation {
  background-color: black;
  color: #f8f8f8;
}

.right-arrow-icon {
  padding-left: 14px;
}
.right-arrow-icon__custom {
  font-size: 1.2rem;
}

.showcase-image {
  margin-top: 20px;
  padding-bottom: 10px;
}

.partners {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 40px 0;
}
.partners__item {
  width: 20%;
  padding: 30px 20px 30px 20px;
}

@media only screen and (min-width: 801px) {
  .hamburger {
    display: none;
  }

  .btn {
    font-weight: 500;
    font-size: 1rem;
  }

  header,
header .nav-container,
header .nav__links,
.nav-menu .nav__items,
header .logo,
.nav-container .nav__links:hover {
    all: unset;
  }

  .container {
    padding: 0 6em;
  }

  header {
    display: flex;
    align-items: center;
    padding-top: 1%;
  }
  header .logo {
    flex-basis: 35%;
  }
  header .nav-menu {
    display: flex;
  }
  header .nav-container {
    background-color: white;
    flex-basis: 65%;
  }
  header .nav-menu .nav__items {
    padding: 10px 30px;
  }
  header .nav-menu .nav__links {
    font-weight: 500;
    transition: color, 0.2s ease 0.1s;
  }
  header .nav-menu .nav__links:hover {
    cursor: pointer;
    font-weight: 500;
    color: #F7971E;
    transition: color, 0.2s ease 0.1s;
  }
  header .nav-menu .nav--button {
    all: unset;
    margin-left: auto;
    margin-top: -4px;
  }

  .showcase {
    margin-top: 1.5%;
    border-radius: 18px;
    padding: 10em 8em;
    display: flex;
    gap: 2em;
    background: linear-gradient(150deg, #FFC100 10em, #F7971E 40em);
  }

  .content-area {
    flex-basis: 50%;
  }
  .content-area__heading {
    font-size: 4rem;
  }
  .content-area__text {
    font-size: 1.3rem;
    line-height: 1.6;
  }
  .content-area .call-to-action {
    padding-top: 40px;
  }

  .right-arrow-icon__custom {
    font-size: 1.7rem;
  }

  .showcase-image {
    flex-basis: 50%;
    height: 620px;
    margin-top: 0;
  }

  .partners {
    justify-content: space-evenly;
  }

  .partners__item {
    width: 15%;
  }
}
@media only screen and (max-width: 1182px) {
  .showcase {
    flex-direction: column;
  }
}
